@charset "UTF-8";



.category_container1{
position: relative; 
height: 450px; 
}



.category_socialring_text{
position: relative;
top : 100px;
text-align: center;
}



.category_container2{
position: relative; 
height: 100px; 
}



.form-select{
position: absolute;
width: 250px;
top : 30px;
left : 200px;
}











.socialring_text{
top : 85px;
position: relative; 
text-align: center;
}








.socialring_popular_table{  /*소셜링 4개 테이블*/
position: absolute; 
top : 100px; 
left: 550px;
border-collapse: collapse;
border-radius: 50px;
}  


 .prod_div{
position: relative;
text-align : center;
display: inline-block;
max-width: 100%;
width: 130px;
height: 130px;
} 




.prod_img{    /*소셜링인기매물사진사이즈  */
position: absolute;
width: 160px;
height: 160px;
object-fit: cover;
left : 15px;
border-radius: 30px;

}

.prdCol1{  /* 테이블에 td    */  
 width: 190px; 
 height: 70px; 
 padding-bottom: 40px;
 padding-right: 20px;
 padding-bottom: 150px;
 }
 
 .prdCol2{  /* 테이블에 td    */  
 width: 300px; 
 height: 60px;
 padding-bottom: 150px;
 }
 
 
 
 .user_profile{
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 10px;
}
 










.category_container3{
position: relative; 
height: 1200px; 
}




.category_container4{
position: relative;
height: 50px; 
margin-left: 850px;
}
 


.page-link {
color: #F7A144;
background-color: #fff;
border: 1px solid #F7A144; 
}


.page-item.active .page-link {
 z-index: 1;
 color: #555;
 font-weight:bold;
 background-color: #000;
 border-color:  #FF8400;
}



.page-link:focus, .page-link:hover {
  color: #FF8400;
  background-color: #fff; 
  border-color: #FF8400;
}






.category_footer{
height: 300px; 
position: relative; 
}




.footer_text{
position: absolute;
top: 30px;
left: 30px;
color: #868B94;
font-size: 17px;
}