@charset "UTF-8";

/************** 헤더 *********************/
.header{                     
height: 70px; 
position: relative; 
background-color: #E6E1E1;
} /* 헤더 */


.logo{
top : 12px;
left: 280px;
position: absolute;
}



.navi_socialring{
top : 25px;
left: 520px;
position: absolute;
}


.navi_club{
top : 25px;
left: 607px;
position: absolute;
}

.navi_challenge{
top : 25px;
left: 677px;
position: absolute;
}

.navi_login{
top : 25px;
left: 763px;
position: absolute;
}



.navi_mypage{
top : 25px;
left: 763px;
position: absolute;	
}
 
 
 
.navi_logout{
top : 25px;
left: 890px;
position: absolute;		
} 
 
 
.search_area{             
width: 200px;
height : 40px;
left : 1200px;
margin: 0px auto;
}  /*  검색창영역 */

.d-flex{                  
width: 300px;
height : 35px;
top : 15px;
left : 1200px;
position: absolute;
margin: 0px auto;
font-size: 6px;
border: none;
} /* 검색창 */



.search_btn{             
width: 70px; 
height: 40px;
top : 15px;
left : 1470px;
position: absolute;
font-size: 7px; 
font-style: bold;
border: none;
} /* 검색버튼 */



a {
  text-decoration: none;
}




/********************푸터******************/
.container5{
height: 300px; 
position: relative; 
}



.hr_footer{
border: 1px solid #EAEBEE;
}



.footer_text{
position: absolute;
top: 30px;
left: 30px;
color: #868B94;
font-size: 17px;
}