<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haerak.club_mapper">
	
	<!-- 모임 상세페이지 정보를 가져오는 SQL  -->
  <select id="selectClubInfoDetail" resultType="kr.co.haerak.domain.club.ClubDetailDomain" parameterType="Integer">	
	select club_name as clubName,input_date as inputDate,view_cnt as viewCnt,
				(	select count(*)
					from INTEREST_LIST il
					where il.club_num=p.club_num) as interCnt,

					AREA_NAME as addr, price,USER_IMG as userImg, detail_txt as detailTxt, club_addr as clubAddr, CATEGORY_NAME as categoryName,
					 u.USER_ID as userId, PERSONAL_INTRO as personalIntro,
					LONGITUDE, LATITUDE,CLUB_DATE as clubDate,NUMBER_PEOPLE as numberPeople, nickname as nickName,

				(	select count(*)
					from club_review cc
					where p.club_num=cc.club_num) as reviewCnt
	from 	club p, users u, ACTIVITY_AREA aa, club_CATEGORY pc
	where	u.user_id=p.user_id and p.CATEGORY_NUM=pc.CATEGORY_NUM and p.ACTI_AREA_NUM=aa.ACTI_AREA_NUM and club_num=#{club_Num}
  </select>
  
  <!-- 모임 이미지를 리스트로 가져오는 SQL  -->
  <select id="selectClubImg" resultType="String" parameterType="int">
  	select		club_IMG
	from		club_IMG
	where		club_num=#{club_num}
  </select>
  
  <!-- 모임 리뷰 글을 가져오는 SQL  -->
	<select id="clubInfoSelectReview" resultType="String" parameterType="int">
	
<!-- 	SELECT REVIEW_NUM,CLUB_REVIEW,reply_num,REVIEW_REPLY,write_date,user_id,CLUB_NUM
	FROM
		( 	SELECT REVIEW_NUM, CLUB_REVIEW, 0 AS REPLY_NUM, '' AS REVIEW_REPLY, WRITE_DATE, USER_ID, CLUB_NUM
			FROM CLUB_REVIEW
	UNION ALL
	SELECT REVIEW_NUM, '', REPLY_NUM, REVIEW_REPLY, WRITE_DATE,'',
				(
				SELECT CLUB_NUM
				FROM CLUB_REVIEW
				WHERE REVIEW_NUM = REVIEW_REPLY.REVIEW_NUM) AS CLUB_NUM
	FROM REVIEW_REPLY )
	where club_num=#{club_Num}
	ORDER BY REVIEW_NUM,CLUB_REVIEW -->
	
	</select>
  
   <!-- 해당 유저가 관심목록에 추가했었는지 확인하는 SQL  -->
	<select id="interCheck" resultType="String" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
		select USER_ID
		from INTEREST_LIST
		where user_id=#{user_id} and club_num=#{club_Num}
	</select>

  <!-- 하트 클릭 시 관심목록을 추가  -->
	<insert id="interAdd" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
	insert into INTEREST_LIST(USER_ID, CLUB_NUM, INTEREST_DATE) values(#{user_id},#{club_Num},sysdate)	
	</insert>

  <!-- 하트 클릭 시 관심목록을 삭제  -->
  	<delete id="interDelete" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
  	delete from INTEREST_LIST
	where user_id=#{user_id} and club_num=#{club_Num}
  	</delete>
  	
  <!-- 모임신청하기  -->
	<insert id="clubApprovalInsert" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
	insert into APPROVAL_STATUS(APPROVAL_DATE, APPROVAL_SATUS, USER_ID, CLUB_NUM) values(sysdate,'승인대기',#{user_id},#{club_Num})
	</insert>
  <!-- 후기글 작성하기  -->
	<insert id="insertReview" parameterType="int">
		insert into CLUB_REVIEW(REVIEW_NUM,CLUB_REVIEW, WRITE_DATE, USER_ID, CLUB_NUM)
		values(HAERAK.CLUB_REVIEW_SEQ.NEXTVAL,#{CLUB_REVIEW},sysdate,#{USER_ID},#{CLUB_NUM})
	</insert>
  <!-- 답변글 작성하기  -->
	<insert id="insertReply" parameterType="int">
		insert into REVIEW_REPLY(REPLY_NUM, REVIEW_REPLY, WRITE_DATE, REVIEW_NUM)
		values(HAERAK.REVIEW_REPLY_SEQ.NEXTVAL,#{REVIEW_REPLY},sysdate,#{REVIEW_NUM});
	</insert>
  <!-- 모임 등록하기   -->
	<insert id="insertClubInfo" parameterType="int">
		insert into CLUB(CLUB_NUM, CLUB_NAME, INPUT_DATE, VIEW_CNT, PRICE, DETAIL_TXT,CLUB_ADDR,
 		CLUB_DATE, LONGITUDE, LATITUDE, NUMBER_PEOPLE, CLUB_STATUS, ACTI_AREA_NUM, CATEGORY_NUM, USER_ID)
 		values(HAERAK.CLUB_SEQ.NEXTVAL,#{CLUB_NAME},sysdate,0,#{price},#{DETAIL_TXT},#{CLUB_ADDR},
 		#{CLUB_DATE},#{LONGITUDE},#{LATITUDE},#{NUMBER_PEOPLE},'모집중',#{ACTI_AREA_NUM},#{CATEGORY_NUM},#{USER_ID});
	</insert>
  <!-- 모임 정보수정하기   -->
	<update id="updateClub" parameterType="int">
		update 	club
		set		
		<if test="CLUB_NAME !=null and CLUB_NAME != ''">
			,CLUB_NAME=#{CLUB_NAME}
		</if>
		<if test="DETAIL_TXT !=null and DETAIL_TXT != ''">
			,DETAIL_TXT=#{DETAIL_TXT}
		</if>
		<if test="NUMBER_PEOPLE !=null and NUMBER_PEOPLE != ''">
			,NUMBER_PEOPLE={NUMBER_PEOPLE}
		</if>
		<if test="PRICE !=null and PRICE != ''">
			,PRICE like=#{PRICE}
		</if>
		<if test="CLUB_DATE !=null and CLUB_DATE != ''">
			,CLUB_DATE like=#{CLUB_DATE}
		</if>
		<if test="CLUB_ADDR !=null and CLUB_ADDR != ''">
			,CLUB_ADDR like=#{CLUB_ADDR}
		</if>
		<if test="LONGITUDE !=null and LONGITUDE != ''">
			,LONGITUDE like=#{LONGITUDE}
		</if>
		<if test="LATITUDE !=null and LATITUDE != ''">
			,LATITUDE like=#{LATITUDE}
		</if>		
		where 	club_num=#{club_num}
	</update>
  <!-- 수정할 정보를 수정페이지에서 세팅  -->
	<select id="setSelectClub" parameterType="int">
		select 	CLUB_NAME, DETAIL_TXT, NUMBER_PEOPLE, PRICE, CLUB_DATE, CLUB_ADDR, LONGITUDE, LATITUDE
		from  	club
		where 	club_num=#{club_num}
	</select>

	<!-- sql 테스트용  -->
	<select id="testClub" parameterType="int" resultType="String">
		select 	club_name 
		from 	club
		where 	club_num=#{club_num}
	</select>

</mapper>