<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haerak.club_mapper">
	
	<!-- 모임 상세페이지 정보를 가져오는 SQL  -->
  <select id="selectClubInfoDetail" resultType="kr.co.haerak.domain.club.ClubDetailDomain" parameterType="Integer">	
	select club_name as clubName,input_date as inputDate,view_cnt as viewCnt,
				(	select count(*)
					from INTEREST_LIST il
					where il.club_num=p.club_num) as interCnt,

					AREA_NAME as addr, price,USER_IMG as userImg, detail_txt as detailTxt, club_addr as clubAddr, CATEGORY_NAME as categoryName,
					 u.USER_ID as userId, PERSONAL_INTRO as personalIntro,
					LONGITUDE, LATITUDE,CLUB_DATE as clubDate,NUMBER_PEOPLE as numberPeople, nickname as nickName,

				(	select count(*)
					from club_review cc
					where p.club_num=cc.club_num) as reviewCnt
	from 	club p, users u, ACTIVITY_AREA aa, club_CATEGORY pc
	where	u.user_id=p.user_id and p.CATEGORY_NUM=pc.CATEGORY_NUM and p.ACTI_AREA_NUM=aa.ACTI_AREA_NUM and club_num=#{club_Num}
  </select>
  
  <!-- 모임상세 볼때마다 1씩 추가하기  -->
  <update id="riviewCntAdd" parameterType="int">
  	update CLUB
	set view_cnt=view_cnt+1
	where club_num=#{club_Num}
  </update>
  
  
  <!-- 모임 이미지를 리스트로 가져오는 SQL  -->
  <select id="selectClubImg" resultType="String" parameterType="int">
  	select		club_IMG
	from		club_IMG
	where		club_num=#{club_num}
  </select>
  
  <!-- 모임 리뷰 글을 가져오는 SQL  -->
	<select id="clubInfoSelectReview" resultType="kr.co.haerak.domain.club.SetReviewDomain" parameterType="int">
	
SELECT replyCheck,r.reviewNum, r.clubReview, r.replyNum, r.reviewReply, r.writeDate, r.userId, r.clubNum, u.nickname as nickName, u.user_img as userImg
FROM
(
    SELECT REPLY_CHECK as replyCheck,REVIEW_NUM AS reviewNum, CLUB_REVIEW AS clubReview, reply_num AS replyNum, REVIEW_REPLY AS reviewReply, write_date AS writeDate, user_id AS userId, CLUB_NUM AS clubNum
    FROM
   			 (
        SELECT REPLY_CHECK,REVIEW_NUM, CLUB_REVIEW, 0 AS REPLY_NUM, '' AS REVIEW_REPLY, WRITE_DATE, USER_ID, CLUB_NUM
        FROM CLUB_REVIEW
        UNION ALL
        SELECT 0,REVIEW_NUM, '', REPLY_NUM, REVIEW_REPLY, WRITE_DATE, user_id,
								(
                SELECT CLUB_NUM
                FROM CLUB_REVIEW
                WHERE REVIEW_NUM = REVIEW_REPLY.REVIEW_NUM
            		) AS CLUB_NUM
        FROM REVIEW_REPLY
   				 )
    WHERE club_num =#{club_num}
) r
LEFT JOIN users u ON r.userId = u.user_id
ORDER BY r.reviewNum, r.clubReview
	
	</select>
  
   <!-- 해당 유저가 관심목록에 추가했었는지 확인하는 SQL  -->
	<select id="interCheck" resultType="String" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
		select USER_ID
		from INTEREST_LIST
		where user_id=#{user_id} and club_num=#{club_Num}
	</select>

  <!-- 하트 클릭 시 관심목록을 추가  -->
	<insert id="interAdd" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
	insert into INTEREST_LIST(USER_ID, CLUB_NUM, INTEREST_DATE) values(#{user_id},#{club_Num},sysdate)	
	</insert>

  <!-- 하트 클릭 시 관심목록을 삭제  -->
  	<delete id="interDelete" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
  	delete from INTEREST_LIST
	where user_id=#{user_id} and club_num=#{club_Num}
  	</delete>
  	
  	<!-- 조인리스트 확인 -->
  <select id="joinListCheck" resultType="String" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
	select user_id
	from JOIN_LIST
	where user_id=#{user_id} and club_num=#{club_Num}
  </select>	
  
  <!-- 승인리스트 확인  -->
  <select id="approvallistCheck" resultType="String" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
  	select user_id
	from APPROVAL_STATUS
	where user_id=#{user_id} and club_num=#{club_Num}
  </select>
  	
  <!-- 모임신청하기  -->
	<insert id="clubApprovalInsert" parameterType="kr.co.haerak.vo.club.ClubSearchVO">
	insert into APPROVAL_STATUS values(sysdate,'승인대기',#{user_id},#{club_Num})
	</insert>
  <!-- 후기글 작성하기  -->
	<insert id="insertReview" parameterType="kr.co.haerak.vo.club.ReviewVO">
		insert into CLUB_REVIEW(REVIEW_NUM,CLUB_REVIEW, WRITE_DATE, USER_ID, CLUB_NUM)
		values(HAERAK.CLUB_REVIEW_SEQ.NEXTVAL,#{clubReview},sysdate,#{userId},#{clubNum})
	</insert>
  <!-- 답변글 작성하기  -->
	<insert id="insertReply" parameterType="int">
		insert into REVIEW_REPLY(REPLY_NUM, REVIEW_REPLY, WRITE_DATE, REVIEW_NUM)
		values(HAERAK.REVIEW_REPLY_SEQ.NEXTVAL,#{REVIEW_REPLY},sysdate,#{REVIEW_NUM});
	</insert>
  <!-- 모임 등록하기   -->
	<insert id="insertClubInfo" parameterType="kr.co.haerak.vo.club.ClubInsertVO">
		insert into CLUB(CLUB_NUM, CLUB_NAME, INPUT_DATE, VIEW_CNT, PRICE, DETAIL_TXT,CLUB_ADDR,
 		CLUB_DATE,CLUB_TIME ,LONGITUDE, LATITUDE, NUMBER_PEOPLE, CLUB_STATUS, ACTI_AREA_NUM, CATEGORY_NUM, USER_ID)
 		values(club_seq.NEXTVAL,#{clubName},sysdate,0,#{price},#{detailTxt},#{clubAddr},
 		#{clubDate},#{clubTime},#{longitude},#{latitude},#{numberPeople},'모집중',#{actiAreaNum},#{categoryNum},#{userId})
	</insert>
	<!-- 모임 이미지테이블에도 등록
	 -->
	<insert id="insertClubImg" parameterType="String">
			insert into club_img(club_img_num, club_num, club_img)
			values (club_img_seq.nextval, CLUB_SEQ.CURRVAL, #{clubImg} )
		
	</insert>
  <!-- 모임 정보수정하기   -->
	<update id="updateClub" parameterType="kr.co.haerak.vo.club.ClubInsertVO">
		update 	club
		set input_date=sysdate		
		<if test="CLUB_NAME !=null and CLUB_NAME != ''">
			,CLUB_NAME=#{CLUB_NAME}
		</if>
		<if test="DETAIL_TXT !=null and DETAIL_TXT != ''">
			,DETAIL_TXT=#{DETAIL_TXT}
		</if>
		<if test="NUMBER_PEOPLE !=null and NUMBER_PEOPLE != ''">
			,NUMBER_PEOPLE={NUMBER_PEOPLE}
		</if>
		<if test="PRICE !=null and PRICE != ''">
			,PRICE like=#{PRICE}
		</if>
		<if test="CLUB_DATE !=null and CLUB_DATE != ''">
			,CLUB_DATE like=#{CLUB_DATE}
		</if>
		<if test="CLUB_ADDR !=null and CLUB_ADDR != ''">
			,CLUB_ADDR like=#{CLUB_ADDR}
		</if>
		<if test="LONGITUDE !=null and LONGITUDE != ''">
			,LONGITUDE like=#{LONGITUDE}
		</if>
		<if test="LATITUDE !=null and LATITUDE != ''">
			,LATITUDE like=#{LATITUDE}
		</if>		
		where 	club_num=#{club_num}
	</update>
  <!-- 수정할 정보를 수정페이지에서 세팅  -->
	<select id="setSelectClub" resultType="kr.co.haerak.domain.club.ClubInsertDomain" parameterType="int">
		select 	CLUB_NAME as clubName, DETAIL_TXT as detailTxt, NUMBER_PEOPLE as numberPeople, PRICE, CLUB_DATE as clubDate ,
						CLUB_ADDR as clubAddr, LONGITUDE, LATITUDE,CLUB_TIME as clubTime,club_Num as clubNum
		from  	club
		where 	club_num=#{club_num}
	</select>

	<!-- sql 테스트용  -->
	<select id="testClub" parameterType="int" resultType="String">
		select 	club_name 
		from 	club
		where 	club_num=#{club_num}
	</select>

</mapper>