<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haerak.dao.main_mapper">

<select id="selectSearch" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="String">
select CLUB_NAME, PRICE, CLUB_DATE,CLUB_ADDR, CLUB_IMG, AREA_NAME,NUMBER_PEOPLE, CLUB_STATUS
from   CLUB c, CLUB_IMG ci, ACTIVITY_AREA aa
where  c.CLUB_NUM=ci.CLUB_NUM and aa.ACTI_AREA_NUM= C.ACTI_AREA_NUM and c.CLUB_STATUS='모집중'and

CLUB_IMG_NUM in (
select min(CLUB_IMG_NUM) as CLUB_IMG_NUM
from CLUB_IMG
group by CLUB_NUM )

order by VIEW_CNT desc;
</select>



<select id="selectUserImg" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="String">
select  USER_IMG
from    CLUB c, JOIN_LIST jl, USERS u
where   c.CLUB_NUM=jl.CLUB_NUM and jl.USER_ID=u.USER_ID;
</select>




<select id="selectRankClub" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="String">

</select>





<select id="selectMoreClub" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="String">
select CLUB_NAME, PRICE, CLUB_DATE,CLUB_ADDR, CLUB_IMG, AREA_NAME,NUMBER_PEOPLE, CLUB_STATUS, CATEGORY_NUM
from   CLUB c, CLUB_IMG ci, ACTIVITY_AREA aa
where  c.CLUB_NUM=ci.CLUB_NUM and aa.ACTI_AREA_NUM= C.ACTI_AREA_NUM and c.CLUB_STATUS='모집중'and

CLUB_IMG_NUM in (
select min(CLUB_IMG_NUM) as CLUB_IMG_NUM
from CLUB_IMG
group by CLUB_NUM )


<choose>
<when test="clubType eq 1" ><!--소셜링 -->
CATEGORY_NUM = 1;
</when>

<when test="clubType eq 2" ><!--클럽 -->
CATEGORY_NUM = 2;
</when>

<when test="clubType eq 3" ><!--챌린지 -->
CATEGORY_NUM = 3;
</when>
</choose>

order by CLUB_DATE desc
</select>



</mapper>