<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haerak.dao.main_mapper">


<!-- 모임에 참가하는 회원 이미지 -->
<select id="selectUserImg" resultType="kr.co.haerak.domain.main.UserDomain" parameterType="int">
select  USER_IMG, USER_ID
from(   select  USER_IMG, u.USER_ID, row_number() over(order by join_date desc) userNumber 
        from    CLUB c, JOIN_LIST jl, USERS u
        where   c.CLUB_NUM=jl.CLUB_NUM and jl.USER_ID=u.USER_ID and c.club_num=#{clubNumber}
        )
where userNumber &lt; 4
</select>





<!--메인 인기모임 : 메인 화면에서 카테고리별로 조회수 높은 순서 대로 4개씩 보임  -->  
<select id="selectRankClub" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="String">

select CLUB_NUM, CLUB_NAME, VIEW_CNT, PRICE,CLUB_DATE,NUMBER_PEOPLE,CATEGORY_NUM,AREA_NAME,CLUB_STATUS,
			(	select COALESCE(count(user_id),0)
				from JOIN_LIST jl
				where jl.CLUB_NUM=c.CLUB_NUM
			) AS USER_COUNT,
			(
				select CLUB_IMG
				from CLUB_IMG
				where
				CLUB_IMG_NUM=(select min(CLUB_IMG_NUM) from CLUB_IMG ci where ci.CLUB_NUM=c.CLUB_NUM group by CLUB_NUM)
			) as CLUB_IMG
from club c, ACTIVITY_AREA aa
where aa.ACTI_AREA_NUM=c.ACTI_AREA_NUM and CLUB_STATUS = '모집중' 
  <choose>
    <when test="clubType eq 1"><!-- 소셜링 -->
      AND CATEGORY_NUM = 1
    </when>
    <when test="clubType eq 2"><!-- 클럽 -->
      AND CATEGORY_NUM = 2
    </when>
    <when test="clubType eq 3"><!-- 챌린지 -->
      AND CATEGORY_NUM = 3
    </when>
  </choose>
order by VIEW_CNT desc

</select>











<!-- 모임 더보기 : 카테고리별로 더보기 클릭시 모임 등록한 날짜를 기준으로 최신순으로 보임  -->
<select id="selectMoreClub" resultType="kr.co.haerak.domain.main.ClubSalesDomain" parameterType="kr.co.haerak.vo.main.SeeMoreVO">
select CLUB_NUM, CLUB_NAME, VIEW_CNT, PRICE,CLUB_DATE,NUMBER_PEOPLE,CATEGORY_NUM,AREA_NAME,CLUB_STATUS,
			(	select COALESCE(count(user_id),0)
				from JOIN_LIST jl
				where jl.CLUB_NUM=c.CLUB_NUM
			) AS USER_COUNT,
			(
				select CLUB_IMG
				from CLUB_IMG
				where
				CLUB_IMG_NUM=(select min(CLUB_IMG_NUM) from CLUB_IMG ci where ci.CLUB_NUM=c.CLUB_NUM group by CLUB_NUM)
			) as CLUB_IMG
from club c, ACTIVITY_AREA aa
where aa.ACTI_AREA_NUM=c.ACTI_AREA_NUM and CLUB_STATUS = '모집중' 

 <choose>
 <when test="searchText !=null">
AND CLUB_NAME LIKE '%'||#{searchText}||'%' 
</when>
</choose>



  <choose>
    <when test="categoryNum eq 1"><!-- 소셜링 -->
      AND CATEGORY_NUM = 1
    </when>
    <when test="categoryNum eq 2"><!-- 클럽 -->
      AND CATEGORY_NUM = 2
    </when>
    <when test="categoryNum eq 3"><!-- 챌린지 -->
      AND CATEGORY_NUM = 3
    </when>
  </choose>
  <choose>
  
      <when test="actiAreaNum eq 0">  <!-- -->
   
     </when>
     <when test="actiAreaNum eq 1">  <!--서울 -->
         AND c.ACTI_AREA_NUM=1
     </when>
     <when test="actiAreaNum eq 2">  <!--경기 -->
         AND c.ACTI_AREA_NUM=2
     </when>
     <when test="actiAreaNum eq 3">  <!--인천 -->
         AND c.ACTI_AREA_NUM=3
     </when>
     <when test="actiAreaNum eq 4">  <!--강원 -->
         AND c.ACTI_AREA_NUM=4
     </when>
     <when test="actiAreaNum eq 5">  <!--충북 -->
         AND c.ACTI_AREA_NUM=5
     </when>
     <when test="actiAreaNum eq 6">  <!--세종 -->
         AND c.ACTI_AREA_NUM=6
     </when>
     <when test="actiAreaNum eq 7">  <!--충남 -->
         AND c.ACTI_AREA_NUM=7
     </when>
      <when test="actiAreaNum eq 8">  <!--대전 -->
         AND c.ACTI_AREA_NUM=8
     </when>
      <when test="actiAreaNum eq 9">  <!--경북 -->
         AND c.ACTI_AREA_NUM=9
     </when>
     <when test="actiAreaNum eq 10">  <!--대구 -->
         AND c.ACTI_AREA_NUM=10
     </when>
     <when test="actiAreaNum eq 11">  <!--울산 -->
         AND c.ACTI_AREA_NUM=11
     </when>
     <when test="actiAreaNum eq 12">  <!--부산 -->
         AND c.ACTI_AREA_NUM=12
     </when>
      <when test="actiAreaNum eq 13">  <!--경남 -->
         AND c.ACTI_AREA_NUM=13
     </when>
       <when test="actiAreaNum eq 14">  <!--전북 -->
         AND c.ACTI_AREA_NUM=14
     </when>
       <when test="actiAreaNum eq 15">  <!--전남 -->
         AND c.ACTI_AREA_NUM=15
     </when>
     <when test="actiAreaNum eq 16">  <!--광주 -->
         AND c.ACTI_AREA_NUM=16
     </when>
        <when test="actiAreaNum eq 17">  <!--제주 -->
         AND c.ACTI_AREA_NUM=17
     </when>
  </choose>
  

order by INPUT_DATE desc

</select>





</mapper>